<div class="login-container" style="flex-direction: column;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <br><br><br>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
              <mat-error>Email is required</mat-error>
            }
            @if (loginForm.get('email')?.hasError('pattern') && loginForm.get('email')?.touched) {
              <mat-error>Invalid email format</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
              <mat-error>Password is required</mat-error>
            }
          </mat-form-field>

          @if (errorMessage) {
            <mat-error class="error-message">{{ errorMessage }}</mat-error>
          }

          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || isLoading">
            {{ isLoading ? 'Logging in...' : 'Login' }}
          </button>
        </form>
      </mat-card-content>
    </mat-card>

    <br>  
    <b>Test credentials:</b>
    <p>Email: admin&#64;example.com, Password: Admin123!&#64;#</p>
    <p>Email: normal&#64;example.com, Password: Normal123!&#64;#</p>
    <p>Email: normal2&#64;example.com, Password: Normal123!&#64;#</p>
  </div>